/* COMP 484 | Fall 2020                                 */
/* Final Project: CSUN Chatroom                         */
/* Authors: Brandon Dahl, Priya Singh                   */
/* File: chat.css                                       */
/*======================================================*/

/*===============================================*/
/* Styling for chat.html                         */
/*===============================================*/


/* Whole Chat Box */
.chat-container {
        max-width: 90%;
        background: #ffffff;
        margin: 2% auto;
        filter: drop-shadow(0px 10px 10px #a9aba9);
        overflow: hidden;
	border-radius: 5px;
} /* end .chat-container */


/* Chatroom sidebar and message container  */
.chat-main {
        display: grid;
        grid-template-columns: 1fr 3fr;
	min-height: 45vh;
} /* end .chat-main */


/* Chatroom sidebar box */
.chat-sidebar {
        background: #ffffff;
        color: #000000;
        padding: 20px 20px 60px;
        overflow-y: scroll;
	border-right: 1px solid #bec6c3;
} /* end .chat-sidebar */


/* Leave Room Button */
.chat-sidebar .btn {
        padding: 10px;
        margin: 10px;
	text-decoration: none;
	width: auto;
	font-size: auto;
} /* end .chat-sidebar .btn */


/* User List Title */
.chat-sidebar h3 {
        margin-bottom: 10px;
        margin-top: 20px;
} /* end .chat-sidebar h3 */


/* Sidebar User List */
.chat-sidebar ul li {
        padding: 10px 0;
} /* end .chat-sidebar ul li */


/* Message Area */
.chat-messages {
        padding: 30px;
        min-height: 60vh; 
	max-height: 60vh;
        overflow-y: scroll;
} /* end .chat-messages */


/* Contains H2, Smaller screen Leave Button, Message Display */
.chat-form-message-area .btn {
	display: none;
	float: right;
	margin: 1em;
} /* end .chat-form-message-area .btn */


/* Message Text Box Background */
.chat-messages .message {
        padding: 10px;
        margin-bottom: 15px;
        background-color: #bec6c3;
        border-radius: 5px;
} /* end .chat-messages .message */


/* Message Text Box Contents */
.chat-messages .message .meta {
        font-size: 15px;
        font-weight: bold;
        color: #000000;
        opacity: 0.7;
        margin-bottom: 7px;
}


/* Message Time */
.chat-messages .message .meta span {
        color: #d22030;
} /* end .chat-messages .message .meta span */


/* Bottom Message Bar */
.chat-form-container {
        padding: 20px 30px;
        background-color: #ffffff;
        border-top: 1px solid #bec6c3;
} /* end .chat-form-container */


/* Message Input Bar */
.chat-form-container form {
        display: flex;
} /* end .chat-form-container form */


/* Message Input Bar Input */
.chat-form-container input {
        font-size: 1em;
        padding: 5px;
        height: 3em;
	min-width: 70%;
        flex: 1;
} /* end .chat-form-container input */


/* Change layout for smaller screens */
@media only screen and (max-width: 700px) {
	
	/* Change content from grid to block */
        .chat-main {
                display: block;
        } /* end .chat-main */

	/* Hide sidebar */
        .chat-sidebar {
                display: none;
        } /* end .chat-sidebar */

	/* Remove padding from user input bar */
	.chat-form-container {
		padding: 0;
	} /* end .chat-form-container */

	/* Show res-Leave Button */
	.chat-form-message-area .btn {
		display: block;
	}/* end .chat-form-message-area .btn */
} /* end media */

