/* COMP 484 | Fall 2020                                 */
/* Final Project: CSUN Chatroom                         */
/* Authors: Brandon Dahl, Priya Singh                   */
/* File: index.css                                      */
/*======================================================*/

/*===============================================*/
/* Styling for index.html                        */
/*===============================================*/


/* Title for Smaller Screens */
.res-header {
	display: none;
} /* end resheader */


/* Page Content */
.join-main {
	max-width: 50%;
	margin: 80px auto;
	color: #000000;
	padding: 30px 40px;
	background: #ffffff;
	text-align: center;
        filter: drop-shadow(0px 10px 10px #a9aba9);
} /* end .join-main */


/* User Name Input */
.join-main .form-control {
	margin-bottom: 20px;
} /* end .join-main .form-control */


/* Input Labels */
.join-main label {
	display: block;
	margin-bottom: 5px;
} /* end .join-main label */


/* Input Fields */
.join-main input {
	font-size: 1em;
	padding: 5px;
	height: 40px;
	width: 100%;
} /* end .join-main input */


/* Join Room Drop Down Select*/
.join-main select {
	font-size: 1em;
	padding: 5px;
	height: 40px;
	width: 100%;
} /* end .join-main select */


/* Join Room Button */
.join-main .btn {
	margin-top: 20px;
	width: 50%;
	height: auto;
} /* end .join-main .btn */


/* Adjust for smaller screens */
@media only screen and (max-width: 700px) {

        /* Join form width in smaller screens */
        .join-main {
                max-width: 90vw;
        } /* end join-main */

	/* Switch titles for smaller screens */
        .res-header {
                display: contents;
        } /* end resheader */

        .main-header {
                display: none;
        } /* end mainheader */

        /* Adjust Nav Sizing */
        nav { 
                width: 100%;
        } /* end nav */
} /* end media */

