/* COMP 484 | Fall 2020                                 */
/* Final Project: CSUN Chatroom                         */
/* Authors: Brandon Dahl, Priya Singh                   */
/* File: root.css                                       */
/*======================================================*/

* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

/* Body styling */
body {
        font-family: 'Helvetica', sans-serif;
        font-size: 1em;
        background:  #ffffff;
        width: 98%;
        height: 98%;
	margin-bottom: 2em;
}

/* Footer styling */
footer {
	clear: both;
        font-family: 'Helvetica', sans-serif;
        font-size: 1em;
        text-align: center;
        width: 100%;
        border-top: 4px solid black;
	padding: 1em;
}

header {
	text-align: center;
        font-family: 'Helvetica', sans-serif;
        font-size: 1em;
	padding: 2em;
}

/* Remove bullet points from unordered list */
ul {
        list-style: none;
}

/* Button Styling */
.btn {
        cursor: pointer;
        padding: 5px 15px;
        background: #d22030;
        color: #ffffff;
        border: none;
        font-size: 1em;
}
